caption {
    caption-side: bottom;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: black;
    color: white;
    padding: .5rem;
}

td {
    padding: .5rem;
}

tbody tr:nth-child(2) th:nth-child(n+2) {
    background-color: #444;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

tbody tr:hover {
    background-color: #444;
    color: white;
}

tbody tr {

    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}