body {
    padding: 0;
    display: grid;
    margin: auto;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    background-color: peachpuff;
    color: white;
    font-family: 'Lunasima', 'Agdasima', serif;
    font-size: large;
    text-align: center;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;


}


h1 {
    text-shadow: rgb(101, 178, 217) 3px 3px;
}

.dark {
    position: absolute;
    right: 0px;
    top: 81px;
    background-color: rgb(90, 148, 203);
    padding: 10px;
    width: 5%;
    border-radius: 5px;

}

.dark p {
    transition: filter 0.3s ease-in-out;

}

nav {
    background-color: rgb(101, 178, 217);
    align-items: center;
    display: flex;
    transition: background-color 0.3s ease-in-out;

}


nav ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;

}


nav li {
    width: auto;
}



nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 30px;

}

nav li:nth-child(3) {
    margin-left: auto;

}

nav li:nth-child(6) {
    display: none;

}

nav a:hover {
    color: rgb(161, 224, 255);


}


nav li:hover {
    border-radius: 10px;
    text-decoration: overline rgb(161, 224, 255);
}

img {
    width: 95%;
    justify-content: center;
    align-content: center;
    margin: auto;
    transition: filter 0.3s ease-in-out;
}

.overlapImage {
    margin-top: 2.5%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


}

.overlapImage img {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;

}

.overlapImage a {
    color: white;
    background-color: rgb(101, 178, 217);
    padding: 30px;
    grid-column: 2/3;
    grid-row: 2/3;
    align-content: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: #d1d1d1 5px 5px 5px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.overlapImage a:hover {
    color: white;
    background-color: rgb(90, 148, 203);
    box-shadow: #d1d1d1 5px 5px 0px;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    justify-content: center;


}


section div {
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    background-color: rgb(243, 180, 126);
    border-radius: 10px;
    justify-self: center;
    transition: background-color 0.3s ease-in-out;

}






.events {
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 95%;
    display: flex;

}

hr {
    border: 1px solid peachpuff;
}

.events div {
    width: 100%;
    text-align: left;
}

.eventsTab {
    grid-column: 1/3;
    margin-right: 20px;

}

.eventsTab p {
    margin-left: 20px;
}

.weatherTab {
    margin-left: 20px;

}

footer {
    margin-top: 2.5%;

    background-color: rgb(101, 178, 217);
}


nav div {
    display: none;
}

@media (max-width: 750px) {

    .events {
        grid-template-columns: 1fr;
        grid-gap: 10px;

    }

    .members {
        grid-template-columns: 1fr;
        grid-gap: 10px;

    }

    nav ul {
        display: flex;
    }

    nav li:nth-child(n+2) {
        display: none;
    }

    nav div {
        display: flex;
        margin-left: auto;
        margin-bottom: auto;
    }

    .events {
        display: block;
        grid-column: 1/2;

    }

    .weatherTab {
        margin: 20px 0 0 0;
    }
}

@media (min-width: 751px) {
    nav ul {
        display: flex;
    }

    nav li {
        display: flex;
    }

    nav li:nth-child(n+2) {
        display: block;
    }

    nav div {
        display: none;
    }
}


.dark-mode {
    background-color: rgb(120, 81, 47);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}


.dark-mode img {
    /*filter: sepia(1%) saturate(300%) brightness(70%) hue-rotate(180deg);*/
    filter: saturate(90%) brightness(60%);

    transition: filter 0.3s ease-in-out;
    z-index: 0;
}

.dark-mode nav,
.dark-mode div,
.dark-mode footer,
.dark-mode section a {
    z-index: 1;
}

.dark-mode nav,
.dark-mode footer,
.dark-mode .overlapImage a {
    background-color: rgb(90, 148, 203);
    transition: background-color 0.3s ease-in-out;

}

.dark-mode .overlapImage a {
    box-shadow: rgb(157, 110, 69) 5px 5px 5px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;


}

.dark-mode section div {
    transition: background-color 0.3s ease-in-out;

    background-color: rgb(157, 110, 69);
}

.dark-mode hr {

    border: 1px solid rgb(120, 81, 47);
    transition: border 0.3s ease-in-out;
}


.dark-mode .dark {
    background-color: rgb(101, 178, 217);

    transition: background-color 0.3s ease-in-out;

}

.dark-mode .dark p {
    filter: saturate(00%) invert(100%);
    transition: filter 0.3s ease-in-out;

}

.gridDisplay {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;

}

.gridDisplay section,
.gridDisplay div {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;


}

.gridDisplay section,
.stretch {
    height: 100%;
}

.roundedImage {
    overflow: hidden;
    border-radius: 10px;
    padding: 0;

}

.roundedImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%);



}

.roundedImage:hover {
    filter: drop-shadow(5px 5px 0px peachpuff);

}

.roundedImage img:hover {
    filter: grayscale(0%);

}

.group {
    width: 100%;
    margin: 0;
    padding: 10px;
    border: solid peachpuff 3px;
}

.stretch>h2:first-child {
    text-shadow: rgb(101, 178, 217) 3px 3px;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

fieldset {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-color: rgb(101, 178, 217);
    border-radius: 10px;
}

form fieldset div {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    justify-content: start;
    align-items: start;
    display: flex;
    width: 62.5%;
    box-shadow: -3px -3px rgb(157, 110, 69);
    background-color: rgb(243, 180, 126);
    text-align: start;
}

form fieldset div input,
form fieldset div textarea,
form fieldset div select {
    align-self: flex-end;
    margin-left: auto;
}


form .buttonspan {
    grid-column: 1/3;

}

form .buttonspan button {
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    background-color: rgb(101, 178, 217);

}

.cards {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.cards section {
    background-color: rgb(255, 213, 177);
    box-shadow: 2px 2px 2px rgb(243, 180, 126);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.cards img {
    width: auto;
    max-width: 100%;
    max-height: 40%;
    height: auto;
}

.cards p {
    color: rgb(120, 81, 47)
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}


.list section:nth-child(even) {
    background-color: rgb(255, 199, 150);
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.weather div {
    margin: 5px;
    width: 95%;
    box-shadow: 5px 5px rgb(214, 149, 91);
    background-color: rgb(225, 161, 105);
    text-align: center;

}

.dark-mode .weather div {
    background-color: rgb(172, 122, 77);
    box-shadow: 5px 5px rgb(120, 81, 47);


}

.weather img {
    width: 80%;
    height: auto;
    justify-content: center;
    align-content: center;
    margin: auto;
    transition: filter 0.3s ease-in-out;
}

.bannerMain {
    background-color: rgb(101, 178, 217);
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    left: 25%;
    margin: 20px;
    text-align: left;
}


.bannerClosePosition {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.bannerClose {
    color: white;
    font-weight: 9000;
    font-size: 30px;
    filter: saturate(00%) invert(100%) brightness(150%);

    transition: filter 0.3s ease-in-out;

}

.bannerClose:hover {
    color: rgb(90, 148, 203);
    filter: saturate(100%) invert(100%) brightness(50%) hue-rotate(20deg);

}